@model IEnumerable<AM.ApplicationCore.Domain.Plane>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlaneId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManufactureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.planetype)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaneId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufactureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.planetype)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.PlaneId }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PlaneId */ }) |
@*                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
*@
                    <form asp-action="Delete" asp-route-id="@item.PlaneId" method="post" onsubmit="return confirm('Are you sure you want to delete this plane?');">
                        <button type="submit" class="btn btn-link">Delete</button>
                    </form>
</td>
        </tr>
}
    </tbody>
</table>
